# 2. Variáveis
## 2.1. Declaração de Variáveis

In [1]:
a = 2
a = 2.3
a = 'aula'

No python as variáveis são declaradas por inferência.

In [3]:
a, b = 2, 3

In [6]:
print(2*a)
print(2*b)
print(a+b)

4
6
5

In [14]:
c = 'k'
print(c*3)

kkk

In [15]:
print(c+3)

TypeError: can only concatenate str (not "int") to str

In [16]:
print(c+c+c)

kkk

In [17]:
print(c + '3')

k3

## 2.2. Tipagem Dinâmica

In [19]:
a = 2
print(type(a))

a = 2.3
print(type(a))

a = 'aula'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [22]:
a = 5
a.__hash__

In [23]:
b = 5
b.__hash__

In [24]:
a = a + 2
b = b - 3

In [25]:
print(a, b)

7 2

In [27]:
print(a.__hash__)
print(b.__hash__)

<method-wrapper '__hash__' of int object at 0x7f8cb29081b0>
<method-wrapper '__hash__' of int object at 0x7f8cb2908110>

In [28]:
c = 5
print(c.__hash__)

<method-wrapper '__hash__' of int object at 0x7f8cb2908170>

No python as variáveis apontam para constantes (são imutáveis)

In [29]:
a = [1,2,3,4,5]

In [31]:
b = a

In [32]:
a[3] = 0
a

[1, 2, 3, 0, 5]

In [33]:
b

[1, 2, 3, 0, 5]

Para ter listas independentes faça a cópia com [:]

In [34]:
b = a[:]

In [35]:
a[3] = 9
a

[1, 2, 3, 9, 5]

In [36]:
b

[1, 2, 3, 0, 5]

In [37]:
b[0] = 10
b

[10, 2, 3, 0, 5]

In [38]:
a

[1, 2, 3, 9, 5]

# 3. Comentários e Strings de Várias Linhas

In [48]:
# Aplicativo financeiro
# por Gabriel Bortolini
# de 28/03/2023

salario = 43453.53

aluguel = 1230.00
contaEnergia = 115.23

texto1 = """
Isto não é um comentário de várias
linhas. Isto é uma string de várias 
linhas!
"""

despesas = aluguel + contaEnergia
saldo = salario - despesas

print('Seu saldo final é {}'.format(saldo))

texto2 = '''
Isto também não é um comantário 
de várias linhas.
'''

print('Fim')

Seu saldo final é 42108.299999999996
Fim

In [49]:
print(texto1)

Isto não é um comentário de várias
linhas.

In [50]:
print(texto2)

Isto também não é um comantário
de várias linhas.

# 4. Operadores
## 4.1. Operadores Aritméticos

In [53]:
print(2 + 3)   # operador de adição
print(2 - 5)   # operador de subtração
print(3.5 * 2) # operador de produto
print(10 / 3)  # operador de divisão
print(10 // 3) # operador de divisão inteira
print(80 % 3)  # operador resto da divisão

5
-3
7.0
3.3333333333333335
3
2

In [55]:
print(2**8)   # operador potência
print(2**3)

256
8

## 4.2 Operadores Relacionais

In [56]:
6 > 4

True

In [57]:
6 < 4

False

In [58]:
3 == 5  # 3 é igual a 5?

False

In [59]:
3 == 3

True

In [60]:
3 != 4  # 3 é diferente de 4?

True

In [61]:
3 != 3

False

In [62]:
3 >= 3

True

In [63]:
4 <= 2

False

## 4.3. Operadores de Atribuição

In [73]:
a = 10
b = a + 5  # = operador de atribuição

In [74]:
a

10

In [75]:
a += 3  # equivale a: a = a + 3
a

13

In [76]:
a *= 3  # equivalente a: a = a * 3
a

39

In [77]:
a //= 3 # equivale a: a = a // 3 (divisão inteira por 3)
a

13

In [78]:
2**8

256

In [79]:
a = 2

In [80]:
a **=8   # a = a**8
a

256

## 4.4. Operadores Lógicos e Tabela Verdade
Operadores Lógicos
ou |
e &
não (negação) !
xor (ou exclusivo) !=

Tabela Verdade OU:

In [89]:
print('0 | 0 =', False | False)  # 1a is false OU 2a is false = false
print('0 | 1 =', False | True)   # 1a is false OU 2a is true  = true
print('1 | 0 =',  True | False)  # 1a is true  OU 2a is false = true
print('1 | 1 =',  True | True)   # 1a is true  OU 2a is true  = true

0 | 0 = False
0 | 1 = True
1 | 0 = True
1 | 1 = True

Tabela Verdade E

In [90]:
print('0 & 0 =', False & False)  # 1a is false E 2a is false = false
print('0 & 1 =', False & True)   # 1a is false E 2a is true  = false
print('1 & 0 =',  True & False)  # 1a is true  E 2a is false = false
print('1 & 1 =',  True & True)   # 1a is true  E 2a is true  = true

0 & 0 = False
0 & 1 = False
1 & 0 = False
1 & 1 = True

Tabela Verdade XOR

In [93]:
print('0 ^ 0 =', False != False)  # 1a is false E 2a is false = false
print('0 ^ 1 =', False != True)   # 1a is false E 2a is true  = true
print('1 ^ 0 =',  True != False)  # 1a is true  E 2a is false = true
print('1 ^ 1 =',  True != True)   # 1a is true  E 2a is true  = false

0 ^ 0 = False
0 ^ 1 = True
1 ^ 0 = True
1 ^ 1 = False

Tabela NOT

In [98]:
t = True
f = False
print('!0 =', not f)  
print('!1 =', not t)

!0 = True
!1 = False

00  - notação binária
01
10
11


000 - 0 - notação trinária
001 - 1
002 - 2
010 - 3
011 - 4
012 - 5
020 - ...

Octal
 0
 1
 2
 3
 4
 5
 6
 7
10

hexadecimal
0
1
2
3
4
5
6
7
8
9
A
B
C
D
E
F

In [99]:
a = 10
a.__hash__

TrabalhoTerca = False

TrabalhoQuinta = False

Se ok nos dosi dias => TV 50' apenas
Se ok em um dor dois dias => TV 32' apenas
Se sucesso em algum dos dias => sorvete
Se não tiver sucesso em nenhum dos dias => saúde e economia

T  Q  TV50'  TV32'  Sorvete   Saúde
0  0           
0  1
1  0
1  1

In [106]:
tt = True
tq = True

tv50 = tt & tq
print(' Trabalho Terça: ', tt)
print('Trabalho Quinta: ', tq)
print('        TV 50in: ', tv50)

 Trabalho Terça:  True
Trabalho Quinta:  True
        TV 50in:  True